.banner {
  background: url("http://six.s-edge.co.in/images/slider/img2.jpg") center center;
  height: 50vh;
  position: relative;
}

.banner__info {
    
    color: rgb(255, 255, 255);
    margin-left: 20px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
  }
  

.banner__info > h5 {
    margin-top: 10px;
}